/* */


body, html {
	margin: 0;
	padding: 0;
	background: black;
}
.contaerheader{

    margin-left: auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: center;
}
.header {
	height: 80px;
	background: url(starfield-banner.jpg);
	  max-width: 1000px;
}

.header img {
	padding: 10px;
	width: 80px;
	    vertical-align: middle;
	
}

.header ul { 
	margin: 0;

}

.header ul li {
	list-style:none;
	height: 76px;
	
}

.header ul li:hover {
	background: #15418c;
}

.header ul li:first-child a {
	border-left: none;
}

.header ul li:last-child a {
	border-right: none;
}

/* MAIN NAV LINKS */
.header ul li a {

	display: block;
	line-height: 46px;
	border-right: solid 1px #555;
	border-left: solid 1px #555;

	margin: 15px 0;
	padding: 0px 14px;

	color: white;
	text-decoration: none;
	font-size: 13.3px;
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
    font-family: 'Titillium Web', sans-serif
}
.bodycontaer